* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 14px;
	line-height: 1.4;
	font-family: $font-poppins;
	color: $gray-color;
	background-color: $white-color;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
::selection {
	color: $white-color;
	background: $primary-color;
}
input,
textarea,
select,
button {
	outline: none;
}

input {
	line-height: normal;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

button {
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
button:active {
	-webkit-transform: scale3d(0.8, 0.8, 0.9);
}
label {
	transition: 0.2s ease-in-out;
}

a {
	display: inline-block;
	text-decoration: none;
	color: unset;
	transition: 0.2s ease-in-out;
}
a:hover {
	color: $primary-color;
}
img {
	display: block;
	max-width: 100%;
}
li {
	list-style: none;
}
blockquote {
	position: relative;
	padding-left: $quote-padding;
	font-size: 18px;
	line-height: 1.6;
	letter-spacing: 1px;

	&::before {
		content: "“";
		position: absolute;
		top: 0;
		left: 0;
		line-height: 1.2;
		height: 100%;
		font-size: 100px;
		font-family: $font-great;
		color: $primary-color;
	}
}

/* Scroll style */
body,
.scroll--bar {
	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: $white-color;
		margin: 0 12px;
	}
	&::-webkit-scrollbar {
		width: 8px;
		background-color: $white-color;
	}
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: $light-color;
}
.scroll--bar::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: $primary-color;
}
/* Button */
.btn {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 14px 34px;
	font-size: 14px;
	border: 2px solid;
	line-height: 2;
	border-radius: 4px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	will-change: transform;
	transition: all 250ms ease-in-out;

	/* Button primary */

	&--primary,
	&--primary-2 {
		color: $white-color;
		background-color: $primary-color;
		border-color: $primary-color;
		&:focus {
			color: $white-color;
			background-color: $primary-color;
			border-color: $primary-color;
		}

		&.btn--zakaria::after {
			background-color: $primary-color;
		}
	}

	&--primary {
		&:hover,
		&:active {
			background-color: $hover-color;
			color: $white-color;
			border-color: $hover-color;
		}
	}
	&--primary-2 {
		&:hover,
		&:active {
			background-color: $black-color;
			color: $white-color;
			border-color: $black-color;
		}
	}

	/* Button outline */
	&--outline {
		color: $black-color;
		background-color: transparent;
		border-color: $primary-color;
		&:focus {
			color: $black-color;
			background-color: transparent;
			border-color: $primary-color;
		}
	}
	&--outline {
		&:hover,
		&:active {
			color: $white-color;
			background-color: $primary-color;
			border-color: $primary-color;
		}

		&.btn--zakaria::after {
			background-color: #fff;
		}
	}

	/* Button animation */
	&--zakaria {
		transition: all 0.3s ease-in-out;
		z-index: 1;

		&::after {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			padding: 50% 50%;
			border-radius: 50%;
			transform: translate3d(-50%, -50%, 0) scale(1);
			transition: inherit;
			pointer-events: none;
			z-index: -1;
		}
		&:hover::after {
			transform: translate3d(-50%, -50%, 0) scale(0);
		}
	}

	/* Button size */
	&--lg {
		padding: 19px 50px;
	}
	&--md {
		padding: 15px 38px;
	}
	&--sm {
		padding: 11px 30px;
	}

	/* Button shadow */
	&--shadow {
		box-shadow: rgba(149, 157, 165, 0.7) 2px 6px 15px;
	}
	/* Button Icon */
	&--icon {
		font-size: 22px;
		width: 50px;
		height: 50px;
		padding: 0 5px;
		border-radius: 50%;

		i {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			height: 100%;
		}
	}
	/* Button Link */
	&--link {
		position: relative;
		padding: 12px 22px;
		font-weight: 600;
		letter-spacing: 2px;
		text-transform: uppercase;
		transition: 0.2s ease-in-out;
		color: $gray-color;

		&:hover {
			transform: translateY(10px);

			&::after {
				width: 100%;
				border-color: inherit;
				transition: all 0.2s ease-out;
			}
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% - 60px);
			height: 100%;
			border: 2px solid transparent;
			border-bottom-color: inherit;
			transition: all 0.2s ease;
		}
	}
}

/* Button Effect */
.ebtn {
	position: relative;

	&:focus::after {
		animation: buttonEffect 0.5s ease-out forwards;
	}
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -18px 0 0 -15px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		opacity: 0;
		pointer-events: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		box-shadow: inset 0 0 0 35px rgba(221, 221, 221, 0.9);
	}
}

@keyframes buttonEffect {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	80% {
		box-shadow: inset 0 0 0 1px rgba(221, 221, 221, 0.9);
		opacity: 0.5;
	}
	100% {
		box-shadow: inset 0 0 0 2px rgba(221, 221, 221, 0.9);
		opacity: 0;
		-webkit-transform: scale3d(1.5, 1.5, 1);
		transform: scale3d(1.5, 1.5, 1);
	}
}

/* Thumbnail classic */
.thumbnail--classic {
	position: relative;
	overflow: hidden;
	background: $primary-color;

	&:hover {
		&::before {
			transform: scale(1.8) rotate(45deg) translateY(100%);
		}
		img {
			opacity: 0.8;
			transform: none;
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.5);
		transform: scale(1.8) rotate(45deg) translateY(-100%);
		transition: transform 0.4s ease-in-out;
		z-index: 1;
		pointer-events: none;
	}

	img {
		transform: scale(1.05);
		transition: 0.3s ease-in-out;
		will-change: transform;
	}
}

/* Image hover Zoom */
.img--zoom {
	overflow: hidden;

	&:hover img {
		transform: scale(1.05);
	}
	img {
		transition: 0.3s ease-in-out;
		will-change: transform;
	}
}

/* Section */
.section {
	&--custom1 {
		padding: 100px 0 60px;
	}
	&--custom2 {
		padding: 100px 0;
	}
	&--basic {
		padding: 110px 0;
	}
}

/* Section Tittle */
.section--title {
	font-size: 55px;
	color: $black-color;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 50px;
	font-weight: 600;
	letter-spacing: 2px;
}
.section--bg {
	background: url(../images/bg-home.jpg) repeat center / auto;
}

/* Description */
.descriptions {
	color: $black-color;
	font-size: 15px;
	font-family: $font-lato;
	line-height: 1.6;
	font-weight: 500;
	letter-spacing: 0.5px;
}

/* Product Badge */
.product--badge {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 12px;
	font-weight: 600;
	letter-spacing: 2px;
	color: $white-color;
	z-index: 1;
	border-radius: 6px;
	text-transform: uppercase;

	&-sale {
		background: $primary-color;
	}
	&-new {
		background: $black-color;
	}
}

/* Animation */
@keyframes fadeIn {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

/* Slide button */
.slider {
	&__controls {
		text-align: center;
		margin-top: 50px;
	}
	&__dot {
		width: 14px;
		height: 14px;
		border-radius: 100rem;
		background-color: $greyish-color;
		margin: 0 6px;
		border: none;

		.active {
			background-color: $primary-color;
		}
	}
}

@include maxw(1199.98px) {
	/* Button Size */
	.btn {
		&--sm {
			font-size: 12px;
		}
		&--icon {
			width: 50px;
			height: 50px;
		}
	}

	/* Section */
	.section {
		&--basic {
			padding: 100px 0;
		}
		&--custom1 {
			padding: 60px 0;
		}
		&--custom2 {
			padding: 90px 0;
		}
	}

	.section--title,
	.sale__title,
	.cta__title {
		font-size: 45px !important;
	}
}
@include maxw(991.98px) {
	/* Button size*/
	.btn {
		padding: 9px 29px;

		&--lg {
			padding: 14px 45px;
		}
		&--md {
			padding: 10px 35px;
		}
		&--sm {
			padding: 6px 25px;
		}
		&--icon {
			width: 40px;
			height: 40px;
			padding: 0 5px;
		}
		&--link {
			letter-spacing: 1px;
		}
	}

	/* Section */
	.section {
		&--basic {
			padding: 90px 0;
		}
		&--custom2 {
			padding: 80px 0;
		}
	}

	.section--title,
	.sale__title,
	.cta__title {
		font-size: 35px !important;
	}

	/* Badge Sale */
	.product--badge {
		font-size: 12px;
	}
}

/* === Tablet === */
@include maxw(767.98px) {
	/* Button size*/
	.btn {
		padding: 4px 17px;
		letter-spacing: 1px;
		font-size: 12px;
		font-weight: 600;

		&--lg {
			padding: 9px 25px;
		}
		&--md {
			padding: 5px 25px;
		}
		&--sm {
			padding: 1px 25px;
		}
		&--icon {
			width: 30px;
			height: 30px;
			font-size: 22px;
			padding-left: 3px;
			padding-right: 3px;
		}
	}

	/* Section */
	.section--basic,
	.section--custom2 {
		padding: 50px 0;
	}
	.section--title,
	.sale__title,
	.cta__title {
		font-size: 26px !important;
		margin-bottom: 30px !important;
	}
	/* Descriptions */
	.descriptions {
		font-family: $font-lato;
		font-size: 13px;
	}
}

/* === Mobile === */
@include maxw(575.98px) {
	.sale__title,
	.cta__title {
		margin-bottom: 20px;
		letter-spacing: 1px;
	}
}

/* === Mobile Small === */
@include maxw(399.98px) {
	.section--title,
	.sale__title,
	.cta__title {
		font-size: 22px !important;
	}
}
