@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

$primary-color: #c14679;
$second-color: #ebd2dc;
$white-color: #fff;
$gray-color: #777777;
$black-color: #151515;
$light-color: #cccccc;
$greyish-color: #dedede;
$bg-light-color: #f5f5f5;
$red-color: #ba0001;
$success-color: #7a9c59;
$hover-color: #a43664;
$border-color: #c14679;
$border-gray-color: #e1e1e1;
$border-light-color: #f5f5f5;
$box-shadow-item: rgba(149, 157, 165, 0.6) 0px 12px 24px;
$box-shadow-light: rgba(149, 157, 165, 0.3) 0px 22px 24px;
// $box-shadow-light: rgba(149, 157, 165, 0.3) 0px 8px 10px;
$box-shadow-header: 0 1px 5px $gray-color;
$box-shadow-menu: 0 3px 5px $gray-color;

$quote-padding: 68px;

$spacing: 30px;
$spacing-100: 100px;
$column-2: 2;
$column-3: 3;
$column-4: 4;
$column-5: 5;

$font-lato: "Lato", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-great: "Great Vibes", cursive;
